<a href="https://colab.research.google.com/github/shivanandkundargi/PYTHON_BASICS/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **Variables,operators,input format**

In [ ]:
#a,b,c=variables
a="HELLO"
b=69
c=69.6969
print(a,b,c)

HELLO 69 69.6969

In [ ]:
# whole division
a=5
b=2
c=a//b
print(c)
# raise to power
d=a**b #a^b
print(d)

2
25

In [ ]:
#input by default will be string
a=input()
print(a)
print(type(a))
b=int(a)
print(type(b))

5
5
<class 'str'>
<class 'int'>

# **strings,string slicing and string functions**
[STRING FUNCTIONS](https://www.w3schools.com/python/python_ref_string.asp)

In [ ]:
a="This is python"
print(a[:])
print(a[::-1])
print(a[0:len(a)])
print(a[::2])

x=a.upper()
print(x)

This is python
nohtyp si sihT
This is python
Ti spto
THIS IS PYTHON

# **LISTS AND TUPLES**
[LIST FUNCTIONS](https://www.w3schools.com/python/python_ref_list.asp)

[TUPLES BASICS](https://www.w3schools.com/python/python_tuples.asp)

In [ ]:
#lISTS ARE MUTABLE
a=[] #declaration of an empty list
a=[1,1.99,"apple"] #lists  can take any data types
print(a)
b=[1,2,3,4,5,6]
print(b[::])#list slicing
print(b[:-3])
print(b[::-1])
c=[]
c=a+b
print(c)
c.append("I am shiv")
print(c)
print(c.index(1.99))
c.remove("I am shiv")
print(c)

[1, 1.99, 'apple']
[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[6, 5, 4, 3, 2, 1]
[1, 1.99, 'apple', 1, 2, 3, 4, 5, 6]
[1, 1.99, 'apple', 1, 2, 3, 4, 5, 6, 'I am shiv']
1
[1, 1.99, 'apple', 1, 2, 3, 4, 5, 6]

In [ ]:
# List comprehension
#printing prime numbers
n=int(input())
a=[i for i in range(2,n) if all(i%j!=0 for j in range(2,i)) ]
print(a)

20
[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
#Tuples are immutable
#deleting tuple element
x=(1,2,3)
print(x)
list(x)
list(y)
y=list(x)
y.pop()
z=tuple(y)
print(z)
#appending tuples
a=x
print(a)
y=(4,5)
a+=y
print(a)
#unpacking tuples
s=(1,2,3)
(a,b,v)=s
print(a)
print(b)
print(v)

(1, 2, 3)
(1, 2)
(1, 2, 3)
(1, 2, 3, 4, 5)
1
2
3

# **DICTIONARY AND SETS**
[DICTIONARY FUNCTIONS](https://www.w3schools.com/python/python_dictionaries_methods.asp)

[SET FUNCTIONS](https://www.w3schools.com/python/python_sets_methods.asp)

In [ ]:
dict={1:"ram",2:"rahim",3:"allah"}
#accesing keys
print(dict.keys())
#accessing values
print(dict.values())
# get method
a=dict.get(1)
print(a)

dict_keys([1, 2, 3])
dict_values(['ram', 'rahim', 'allah'])
ram

In [ ]:
#sets
x={1,2,1,2,3,4,5}
print(x)
print(type(x))
x.add(6)
print(x)

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 6}

# **IF-ELSE AND LOOPS**

In [ ]:
x=int(input())

y=int(input())

if x>y:
  print("yes")
elif x==y:
  print("same")  
else:
  print("not same")

2
2
same
6
69
96
65
87
78

In [ ]:
#for loop
t=[69,96,65,87,78] 
for i in range(len(t)):
  print(t[i])

6
69
96
65
87
78

In [ ]:
#while loop
n=int(input()) 
while n!=0:
  print("huehue")
  n-=1

5
huehue
huehue
huehue
huehue
huehue

# **FUNCTIONS**

In [86]:
#SAMPLE FUNCTION
def abc(x):
  ans = x**(x+2)
  return ans
y=abc(int(input()))
print(y)

5
78125