<a href="https://colab.research.google.com/github/shivanandkundargi/PYTHON_BASICS/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **Variables,operators,input format**

In [ ]:
#a,b,c=variables
a="HELLO"
b=69
c=69.6969
print(a,b,c)

HELLO 69 69.6969

In [ ]:
# whole division
a=5
b=2
c=a//b
print(c)
# raise to power
d=a**b #a^b
print(d)

2
25

In [ ]:
#input by default will be string
a=input()
print(a)
print(type(a))
b=int(a)
print(type(b))

5
5
<class 'str'>
<class 'int'>

# **strings,string slicing and string functions**
[STRING FUNCTIONS](https://www.w3schools.com/python/python_ref_string.asp)

In [ ]:
a="This is python"
print(a[:])
print(a[::-1])
print(a[0:len(a)])
print(a[::2])

x=a.upper()
print(x)

This is python
nohtyp si sihT
This is python
Ti spto
THIS IS PYTHON

# **LISTS AND TUPLES**
[LIST FUNCTIONS](https://www.w3schools.com/python/python_ref_list.asp)

[TUPLES BASICS](https://www.w3schools.com/python/python_tuples.asp)

In [ ]:
#lISTS ARE MUTABLE
a=[] #declaration of an empty list
a=[1,1.99,"apple"] #lists  can take any data types
print(a)
b=[1,2,3,4,5,6]
print(b[::])#list slicing
print(b[:-3])
print(b[::-1])
c=[]
c=a+b
print(c)
c.append("I am shiv")
print(c)
print(c.index(1.99))
c.remove("I am shiv")
print(c)

[1, 1.99, 'apple']
[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[6, 5, 4, 3, 2, 1]
[1, 1.99, 'apple', 1, 2, 3, 4, 5, 6]
[1, 1.99, 'apple', 1, 2, 3, 4, 5, 6, 'I am shiv']
1
[1, 1.99, 'apple', 1, 2, 3, 4, 5, 6]

In [ ]:
# List comprehension
#printing prime numbers
n=int(input())
a=[i for i in range(2,n) if all(i%j!=0 for j in range(2,i)) ]
print(a)

20
[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
#Tuples are immutable
#deleting tuple element
x=(1,2,3)
print(x)
list(x)
list(y)
y=list(x)
y.pop()
z=tuple(y)
print(z)
#appending tuples
a=x
print(a)
y=(4,5)
a+=y
print(a)
#unpacking tuples
s=(1,2,3)
(a,b,v)=s
print(a)
print(b)
print(v)

(1, 2, 3)
(1, 2)
(1, 2, 3)
(1, 2, 3, 4, 5)
1
2
3

# **DICTIONARY AND SETS**
[DICTIONARY FUNCTIONS](https://www.w3schools.com/python/python_dictionaries_methods.asp)

[SET FUNCTIONS](https://www.w3schools.com/python/python_sets_methods.asp)

In [ ]:
dict={1:"ram",2:"rahim",3:"allah"}
#accesing keys
print(dict.keys())
#accessing values
print(dict.values())
# get method
a=dict.get(1)
print(a)

dict_keys([1, 2, 3])
dict_values(['ram', 'rahim', 'allah'])
ram

In [ ]:
#sets
x={1,2,1,2,3,4,5}
print(x)
print(type(x))
x.add(6)
print(x)

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 6}

# **IF-ELSE AND LOOPS**

In [ ]:
x=int(input())

y=int(input())

if x>y:
  print("yes")
elif x==y:
  print("same")  
else:
  print("not same")

2
2
same
6
69
96
65
87
78

In [ ]:
#for loop
t=[69,96,65,87,78] 
for i in range(len(t)):
  print(t[i])

6
69
96
65
87
78

In [ ]:
#while loop
n=int(input()) 
while n!=0:
  print("huehue")
  n-=1

5
huehue
huehue
huehue
huehue
huehue

# **FUNCTIONS**

In [ ]:
#SAMPLE FUNCTION
def abc(x):
  ans = x**(x+2)
  return ans
y=abc(int(input()))
print(y)  

#multiple arguments
def abc(x,y):
  z=x+y
  return z
print(abc(int(input()),int(input())))

#arbitrary arguments
def abc(*d):
  ans=[]
  for i in range(len(d)):
    ans.append(d[i])
  return ans
print(abc(1,2,3,"doge"))    

#keyword arguments
def abc(a,b,c):
  c=a*b+c
  return c
print(abc(a=int(input()),b=int(input()),c=int(input())))  

# arbitrary keyword argument
def abc(**com):
  print(com["b"]+com["c"])

abc(a=1,b=2,c=3)

5
78125
6
9
15
[1, 2, 3, 'doge']
10
11
12
122
5

# **FILE HANDLING**

In [ ]:
#File io basics
"""
"r"-open file for reading -default
"w"-open file for writing
"x"-creates file if not exists
"a"- append a file
"t"- text mode
"b"- binary mode
"+"read and write
"""


# f=open("shiv.txt","rt")
# x=f.read()
# print(x)
# f.close()
# for line in f:
#     print(line)
# print(f.readline())
# print(f.readlines())
# f.close()

In [ ]:

#WRITING AND APPENDING A FILE
# f=open("shiva.txt","w")
# for i in range(5):
#     f.write(input())
#     f.write("\n")
# # f.close()
# f=open("shiva.txt","r")    
# # x=f1.read()
# x=f.readlines()
# print(x)
# f=open("shiva.txt","a")
# a=f.write("hello")
# print(a)


# Handle read and write both
# f=open("shiva.txt","r+")
# print(f.read())
# f.write("\nGOOD bye")

In [ ]:
#SEEK() and TELL() functions
"""
f=open("shiva.txt")
print(f.tell()) #tells the current position of the file pointer
print(f.readline())
# print(f.tell())
f.seek(0) # initializes file pointer as desired 
print(f.readline())
# print(f.tell())
print(f.readline())
# print(f.tell())
f.close()
"""

'\nf=open("shiva.txt")\nprint(f.tell()) #tells the current position of the file pointer\nprint(f.readline())\n# print(f.tell())\nf.seek(0) # initializes file pointer as desired \nprint(f.readline())\n# print(f.tell())\nprint(f.readline())\n# print(f.tell())\nf.close()\n'

In [ ]:
# with block
"""
with open("shiva.txt") as f:
    x=f.read()
    print(x)


# f=open("shiva.txt","rt")
# print(f.read())
"""

'\nwith open("shiva.txt") as f:\n    x=f.read()\n    print(x)\n\n\n# f=open("shiva.txt","rt")\n# print(f.read())\n'

# **Variable scope and global variable**

In [ ]:
x=45 #global variable
def abc():
  x=20
  def xyz():
    global x #accessing global variable
    x=45*2
  print("x before calling xyz()",x)
  xyz()
  print("x after calling xyz()",x)  
abc()
print(x) #after changing clobal variable in xyz() function

x before calling xyz() 20
x after calling xyz() 20
90

# **Recursions**

In [ ]:
#finding factorial using recursions
def fac(n):
  if n==1:
    return 1
  else:
    return n*fac(n-1)
n=int(input())
fac(n)

5

120

In [ ]:
#finding fibonacci series number using recursion
def fib(n):
  if n==1:
    return 0
  elif n==2:
    return 1
  else:
    return (fib(n-1)+fib(n-2))
n=int(input())
fib(n)

7

8

In [ ]:
#finding average of number using recursion
def avg(n):
  if n==1:
    return 1
  else:
    return n+avg(n-1)
n=int(input())
ans=avg(n)/n
print(ans)

17
9.0

# **Lambda Function**

In [ ]:
# Lambda function or anonymous function can be used instaed of creating a function manually
a=lambda x,y:x*y
ans=a(int(input()),int(input()))
print(ans)

5
5
25

In [ ]:
a=[[1,7],[5,4],[2,6]]
for i in a:
  i.sort()
a.sort(key=lambda x:x[1])
print(a)

# **Python Modules**

In [ ]:
#Modules can be imported in the code wherein modules have inbuilt submodules and functions which can be accessed in the function
# ramdom module
import random
x=random.randint(0,1)
b=random.random()
print(b)

lst=["a","b","c"]
z=random.choice(lst)
print(z)

0.8340959684278987
b

In [ ]:
#Time Module
import time
initial=time.time()
for i in range(5):
  print("x") 
print(time.time()-initial) # time taken for running"for" loop
s=time.time()
y=0
while (y<5):
  y+=1
  time.sleep(2)
  print("x")
print(time.time()-s)  # to calculate time taken for while loop
 
lc= time.asctime(time.localtime(time.time()))
print(lc)

x
x
x
x
x
0.003096342086791992
x
x
x
x
x
10.01152229309082
Thu Jul 22 17:05:08 2021

# **F-strings and string formatting**

In [ ]:
#string formatting
a=input()
me="done"
y="this is %s %s" %(a,me)
print(y)

ok
this is ok done

In [ ]:
#dot format
a="hi"
b="helli"
c="this is {} {}"
d=c.format(a,b)
print(d)

this is hi helli

In [ ]:
#f string formatting
a="hi"
b="shiv"
a=f"this is {a} {b}"
print(a)

this is hi shiv

# *** args and ** kwargs**

In [ ]:
def abc(normal,*args): #a normal argument must be before * args
  for i in args:
    print(normal,i)
a=["a","b","c","d"]
abc("this is shiv",*a)

this is shiv a
this is shiv b
this is shiv c
this is shiv d

In [ ]:
def xyz(**kwargs):
  for key,value in kwargs.items():
    print(key,value)
lst={"a":2,"c":1,"b":3}
xyz(**lst)

a 1
b 2
c 3

# **Enumerate() and join() function**

In [5]:
#enumerate can be used to access both index and elements of the loop together
lst=["a","b","c","d"]
for index,i in enumerate(lst):
  if index%2!=0:
    
    print(i)

b
d

In [8]:
#join() function can be used instead of for loop if we want to join elements of list 
lst=["12",'1','3','4','5','6','7','8','9']
a=" and ".join(lst)
print(a)

12 and 1 and 3 and 4 and 5 and 6 and 7 and 8 and 9

# **if__name__=='__main__': function**

In [ ]:
''' 
'main' function is particularly used when we want to access only
a selected part of a particular code.

main function bacisally specifies the area under it as a type(main) and the rest
region is the file name with which we import hence differentiating between the areas we can access the desired area of code 

'''

def abc(strng):
    return f"hi {strng}"
def xyz(a,b,c):
    
    print("name is :",__name__)
    return a+b+c
# print(abc("shivanand"))
# print(xyz(1,2,3))
    

if __name__== '__main__':
    # print("sjyefgisa")
    def ch(x):
        print("name is :",__name__)
        return x+2
    print(ch(2))    
    print(abc("shivanand"))
    print(xyz(1,2,3))

# **Map,Filter and Reduce**

In [21]:
#map function
# (a,c,d)=map(int,input().split())
# print(a,c,d)

#converting a str list to int list
a=["1","2","3","4"]
b=list(map(int,a))
print(b)

#merging lanbda with map
x=[1,2,3,4,5,6,7,8]
ans=list(map(lambda s:s+2,x))
print(ans)

#accessing fuction in a list using lambda and map
def square(a):
  return a*a
def cube(a):
  return a*a*a
lst=[square,cube]
for i in range(5):
  d=list(map(lambda x:x(i),lst))
  print(d)

[1, 2, 3, 4]
[3, 4, 5, 6, 7, 8, 9, 10]
[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

In [22]:
#filter
lst=[1,2,3,4,5,6,7,8,9,10]
def gre(n):
  return n>5
x=list(filter(gre,lst))
print(x)

[6, 7, 8, 9, 10]

In [23]:
#Reduce
from functools import reduce
lsr=[1,2,3,4,5]
a=reduce(lambda x,y:x+y,lsr)
print(a)

15

# **Decorators**

In [31]:
#Decorators are used to run a function inside a function
def abc(sum):
  def avg():
    print("hi")
    a=sum()
    print(sum())
    print("Avg is :",a/3)
  return avg
@abc
def sum():
  return 1+2+3  
sum()

hi
6
Avg is : 2.0

# **OOPS (classes and objects)**

In [33]:
''' 
Class: A class is the building block that leads to Object-Oriented Programming. It is a user-defined data type, that holds its 
own data members and member functions, which can be accessed and used by creating an instance of that class. It is the blueprint of any object.

Object: An object is an instance of a class. All data members and member functions of the class can be accessed with the help of objects.
When a class is defined, no memory is allocated but when it is instantiated (i.e. an object is created), memory is allocated.
For example, considering the objects for the Account class is Saving account, Current account, etc
'''
class stu: #class
  pass
a=stu() #creating object
b=stu()
a.name="Shiv" #initializing instance variables
a.sec="b"
b.name="sam"
b.sec="d"
print(a.name,b.name)

Shiv sam

In [36]:
#instance variables and class variables
class emp:
  c=69 #class variable
  pass
a=emp()
b=emp()  
a.name="harry" #instance variable
b.name="shiv"
print(a.c)
a.c=6969
print(a.__dict__)
print(emp.c)

69
{'name': 'harry', 'c': 6969}
69